.btn{
    
    background-color:#FF9F00;
    padding: 8px 20px;
    color:white;
  
    button{
        border:none;
        outline: none;
        background-color:#FF9F00;
        color:white;
        font-size: 18px;
        font-weight: 600;
    }
}
.sathi{
    color:#2874F0;
}
.btn1{
    
    background-color:#Fb641b;
    padding: 15px 50px;
    color:white;
  
    button{
        border:none;
        outline: none;
        background-color:#Fb641b;
        color:white;
        font-size: 18px;
        font-weight: 600;
    }
}

.shadow{
    box-shadow: 7px 7px 7px white;
}
.list{
    li{
        list-style: none;
    }
}


.img{
    img{
        width:50%;
    }
}

.imman{
    margin:0px 5px;
}

.cart{
    button{
     border:"none";
     outline:"none"
    }
 }



.sathesh{
    button{
        padding:10px 12px;
        outline: none;
        border: 1px solid #00000036;
        color:#2874F0;
    }
}

.chotta{
    button{
        border:none;
        outline: none;
        padding: 15px 50px;
        background-color:#Fb641b;
        color:white;
        font-size: 18px;
        font-weight: 600;
    }
}



    
